
/*
   .-----------------------------------------------------.
   |                     BASIC STYLES                    |
   '-----------------------------------------------------'
*/

html{
  overflow-x: hidden !important;
}
body {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  color:  $text-color;
  background-color: $blue;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:last-child {
  margin-bottom: 0;
}

input, textarea {
  @include placeholder(rgba($grey,0.45));
  outline: none;
}

button {
  outline: none; 
}

form{
  .dd-b-form-group{
    margin-bottom: 30px;
    input{
      padding: 10px 0;
      border: 0;
      border-bottom: 1px solid #929292;
      width: 100%;
      font-size: 14px;
      &:focus{
        border-bottom: 1px solid $blue;
      }
      &.unhappy{
        border-bottom: 1px solid $red;
      }
    }
    textarea{
      padding: 10px 0;
      border: 0;
      border-bottom: 1px solid #929292;
      width: 100%;
      min-height: 100px;
      resize: none;
      font-size: 14px;
      &:focus{
        border-bottom: 1px solid $blue;
      }
      &.unhappy{
        border-bottom: 1px solid $red;
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  button{
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: $blue;
    height: 60px;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    line-height: 60px;
    background-color: white;
    border: 1px solid $blue;
    padding: 0;
    display: block;
    &:hover{
      background-color: $blue;
      color: white;
      @include transition(.3s, ease-in-out);

    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}
.red-color{
  color: $red !important;
}
table {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  tr {
    padding: 0;
    margin: 0;
  }
  th {
    font-style: normal;
    padding: 0;
    margin: 0;
  }
  td {
    padding: 0;
    margin: 0;
  }
}

address {
  font-style: normal;
}

blockquote {
  margin: 0;
  padding: 0;
}

input[type='text'],
textarea {
  outline: none;
  @include transition(0.3s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include rounded(0);
  border: none;
   height: 32px;
  font-size: 15px;
  line-height: 32px;
  padding: 0 8px;
  margin: 0;
  width: 100%;
  background: transparent;
  &.has-value {
  }
}
textarea {
  height: 72px;
  padding-top: 8px;
}

input[type='submit'] {
  @include transition(0.3s);
}

img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: $azure-radiance;
  line-height: 1.2em;
  &:hover {
    text-decoration: none !important;
  }
  &:focus {
    text-decoration: none !important;
  }
}

p {
  margin: 0 0 8px 0;
  padding: 0;
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

.dd-row-fluid {
  *zoom: 1;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both; 
  }
  [class*="span-"] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    &:first-child {
      margin-left: 0 !important;  
    }
  }
  .no-gutter {
    margin-left: 0 !important;
  }
  .pull-right{
    float: right;
  }
  @for $i from 1 through 12 {
      .span-#{$i} { 
        width: 100%; 
      }
  }

  @include mq('tablet') {
    $default-gutter-px: 10;
    $default-screen-px: 710;
    $default-column-px: 50;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
    @for $i from 1 through 12 {
        .span-#{$i} {
          width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
        }
        [class*="span-"].offset-#{$i} {
          margin-left: percentage($default-column-gutter-perc * $i) !important;
        }
        [class*="span-"].pull-right.offset-#{$i} {
          margin-right: percentage($default-column-gutter-perc * $i) !important;
          margin-left: 0 !important;
        }
    }
    [class*="span-"],
    [class*="span-"].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }

  @include mq('desktop') {
    $default-gutter-px: 10;
    $default-screen-px: 1910;
    $default-column-px: 150;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
    @for $i from 1 through 12 {
        .span-#{$i} {
          width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
        }
        .offset-#{$i} {
          margin-left: percentage($default-column-gutter-perc * $i) !important;
        }
        [class*="span-"].pull-right.offset-#{$i} {
          margin-right: percentage($default-column-gutter-perc * $i) !important;
          margin-left: 0 !important;
        }
    }
    [class*="span-"],
    [class*="span-"].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }
}

.mobile-hide {
  display: none !important;
}
@include mq('tablet') {
  .mobile-hide {
    display: inherit !important;
  }
  .tablet-hide {
    display: none !important;
  }
}
@include mq('desktop') {
  .mobile-hide {
    display: inherit !important;
  }
  .tablet-hide {
    display: inherit !important;
  }
  .desktop-hide {
    display: none !important;
  }
}
.dd-readmore{
  display: inline-block;
  padding-left: 60px;
  text-transform: uppercase;
  position: relative;
  color: white;
  font-family: 'Averta-Bold', sans-serif;
  &:before{
    @include pseudo();
    width: 50px;
    height: 1px;
    left: 0;
    background-color: white;
    @include center-absolute('vertical');
  }
  &:focus{
    outline: none;
  }
  &:hover{
    color: white;
  }
}
.dd-close{
  display: block;
  position: relative;
  text-align: center;
  span{
    width: 22px;
    height: 22px;
    display: inline-block;
    background: url(../images/close-white.svg) no-repeat;
    background-size: 22px 22px;
  }
  &:before{
    @include pseudo();
    left: 0;
    top: 45%;
    width: calc(50% - 20px);
    height: 1px;
    background-color: white;
  }
  &:after{
    @include pseudo();
    right: 0;
    top: 45%;
    width: calc(50% - 20px);
    height: 1px;
    background-color: white;
  }
  &:hover{
    span{
      background: url(../images/close-blue.svg) no-repeat;
      @include transition(.3s, ease-in-out);
    }
  }
  &:focus{
    outline: none;
  }
}
.dd-register-btn{
  text-transform: uppercase;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 15px;
  background: #9b9d9d;
  color: $blue;
  @include transition(.3s, ease-in-out);
  &:hover{
    @include transform(scale(1.05));
    @include transition(.3s, ease-in-out);
  }

}
.dd-s-section{
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  @include mq('desktop') {
    padding-top: 0;
    padding-bottom: 0;
  }
  .dd-b-container {
    position: relative;
    @extend %clearfix;
    padding-left: 25px;
    padding-right: 25px;
    @include mq('desktop') {
      padding: 0;
      margin: 0 auto;
    }
  }
}
.dd-b-container {
  position: relative;
  @extend %clearfix;
  padding-left: 25px;
  padding-right: 25px;
  @include mq('desktop') {
    padding: 0;
    margin: 0 auto;
  }
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  padding: 0;
  margin-top: 0 !important;
}

h1 {
  font-size: 32px;
  line-height: 36px;
}
h2 {
  font-size: 28px;
  line-height: 34px;
}
h3 {
  font-size: 22px;
  line-height: 26px;
}
h4, h5, h6 {
  font-size: 20px;
  line-height: 24px;
}
.dd-sub-heading {
  font-size: 20px;
  line-height: 24px;
}
blockquote {
  font-size: 20px;
  line-height: 24px;
}
button {
  width: 100%;
}
.slick-slider {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
@include mq('tablet') {
  body {
    font-size: 14px;
    line-height: 20px;
  }
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
  h2 {
    font-size: 32px;
    line-height: 36px;
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
  }


  button {
    width: auto;
  }
}

@include mq('desktop') {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px;
  }
  h1 {
    font-size: 48px;
    line-height: 50px;
  }
  h2 {
    font-size: 36px;
    line-height: 40px;
  }
  h3 {
    font-size: 28px;
    line-height: 32px;
  }
  blockquote {
    font-size: 24px;
    line-height: 28px;
  }
}
.gmnoprint{
  display: none;
}
button[type = submit]{
  cursor: pointer;
}

/*css input effect form*/
.dd-input-effect {
  position: relative;
  input {
    color: #333;
    font-size: 16px;
    line-height: 21px;
    padding: 8px 0;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    position: relative;
    z-index: 3;
    &:focus {
      outline: none;
    }
  }
  .effect {
    border: 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
  }
  .effect ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #444444;
    transition: 0.4s;
    z-index: 3;
  }
  .effect:focus ~ .focus-border,
  .has-content.effect ~ .focus-border {
    width: 100%;
    transition: 0.4s;
  }
  .effect ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: rgba(0,0,0,.7);
    transition: 0.3s;
    z-index: 1;
    letter-spacing: 0.5px;
  }
  .effect:focus ~ label,
  .has-content.effect ~ label {
    top: -16px;
    font-size: 12px;
    color: rgba(0,0,0,.7);
    transition: 0.3s;
    outline: none;
  }

} /* necessary to give position: relative to parent. */


/*
   .-----------------------------------------------------.
   |                       SPINKIT                       |
   '-----------------------------------------------------'
*/

.dd-b-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: $blue;
}
.sk-folding-cube {
  @include center-relative('both');
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
      animation: sk-foldCubeAngle 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
  }
  .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
    &:before {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
  }
  .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
    &:before {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
  }
  .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
    &:before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
    }
  }
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/* Hamburger Menu */
.McButton {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 16px;
  cursor: pointer;
  @include transform(translate(0,-50%));
  b{
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: white;
    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2){
      top: 50%;
    }
    &:nth-child(3){
      top: 100%;
    }
  }
}
/* McButton */
@media (max-width: 1080px) {
  .section{
    height: auto !important;
  }
}