
$break-points: (
        "phone": 320px,
        "phone-wide": 375px,
        "tablet": 768px,
        "tablet-wide": 1080px,
        "desktop": 1080px,
        "desktop-1366": 1300px,
        "desktop-1400": 1400px,
        "desktop-1600": 1600px,
        "desktop-1800": 1800px,
        "desktop-1900": 1850px,
);
$blue: #03103a;
$blue-opacity: rgba(11, 49, 105, 0.9);
$text-color: #ffffff;
$grey-opacity: #rgba(51, 51, 51, 0.45);
$red: #c41616;
$grey: #333333;
$azure-radiance: #00A8FF;