@import "./_variables";
@import "./_fonts";
@import "./_mixinscustom";
@import "./_common";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
header{
  font-size: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  .dd-b-head{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    .dd-b-container{
      padding: 0 25px;
      .dd-logo{
        display: block;
        width: 85px;
        height: 85px;
      }
    }
  }
  .dd-b-body{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    .dd-b-container{
      .dd-b-menu{
        li{
          font-size: 13px;
          margin-bottom: 10px;
          text-align: right;
          text-transform: uppercase;
          &.active{
            a{
              border-bottom: 1px solid white;
              font-family: 'HelveticaNeue-Bold', sans-serif ;
            }
          }
          a{
            color: white;
          }
        }
      }
    }
  }
}
footer{
  padding-bottom: 30px;
  .dd-b-container{
      .dd-b-body{
        .dd-lang{
          margin-bottom: 7px;
          ul{
            padding-bottom: 5px;
            border-bottom: 2px solid #c1c4ce;
            font-size: 0;
            li{
              display: inline-block;
              margin-right: 5px;
              &:last-child{
                margin-right: 0;
              }
              a{
                display: block;
                img{
                  height: 17px;
                  width: auto;

                }
              }
            }
          }
        }
        .dd-foot{
          font-size: 0;
          .dd-col{
            display: inline-block;
            vertical-align: top;
            &:first-child{
              p{
                font-size: 10px;
                margin-bottom: 5px;
              }
              img{
                height: 12px;
                width: auto;
              }
            }
            &:last-child{
              width: calc(100% - 105px);
              text-align: right;
              .dd-b-text{
                display: inline-block;
                margin-right: 7px;
                a{
                  color: white;
                  text-transform: uppercase;
                  font-size: 16px;
                }
                p{
                  color: white;
                  text-transform: uppercase;
                  font-size: 9px;
                }
              }
              .dd-sns{
                display: inline-block;
                li{
                  display: inline-block;
                  margin-right: 7px;
                  &:last-child{
                    margin-right: 0;
                  }
                  a{
                    display: block;
                    padding: 5px;
                    @include rounded(5px);
                    border: 1px solid white;
                    img{
                      height: 11px;
                      width: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
}
.dd-s-section{
  min-height: calc(100vh - 322px);
}
.dd-s-lifestyle{
  padding-top: 0;
  .dd-b-container{
    padding-left: 0;
    padding-right: 0;
    .dd-row-fluid{
      .span-4{
        &.dd-b-item{
          height: 315px;
          width: 100%;
          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          &.dd-b-content{
            color: white;
            margin-bottom: 20px;
            .dd-b-content-inner{
              background-color: $blue;
              display: inline-table;
              padding-left: 25px;
              padding-right: 25px;
              h2{
                font-size: 18px;
                font-family: 'HelveticaNeue', sans-serif;
                margin-top: 0;
                line-height: 1.4em;
              }
              .dd-content{
                max-height: 60px;
                overflow: hidden;
                margin-bottom: 15px;
              }
            }

            &.dd-viewmore{
              .dd-content{
                max-height: 500px;
                @include transition(0.5s, ease-in-out);
              }
              .dd-close{
                opacity: 1;
                @include transition(0.5s, ease-in-out);
              }
            }
            .dd-close{
              opacity: 0;
            }

          }
        }
      }
      .slick-dots{
        bottom: 30px;
        li{
          margin: 0 2px;
          button{
            &:before{
              font-size: 40px;
              color: white;
              opacity: .5;
            }
          }
          &.slick-active{
            button{
              &:before{
                opacity: 1;
                color: $azure-radiance;

              }
            }
          }
        }
      }
    }
    .dd-btn-center{
      padding-top: 30px;
      text-align: center;
    }
  }
}

.show-register-form{
  .dd-s-register-info{
    min-height: 100vh;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 900;
    padding-top: 40px;
    padding-bottom: 20px;
    height: auto;
    overflow: inherit;

    -webkit-transition: margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 400ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-start,-webkit-transform 400ms cubic-bezier(.8,0,.55,.94);
    transition: margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 400ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-start,-webkit-transform 400ms cubic-bezier(.8,0,.55,.94);
    -o-transition: transform 400ms cubic-bezier(.8,0,.55,.94),margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 400ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-start;
    transition: transform 400ms cubic-bezier(.8,0,.55,.94),margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 400ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-start;
    transition: transform 400ms cubic-bezier(.8,0,.55,.94),margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 400ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-start,-webkit-transform 400ms cubic-bezier(.8,0,.55,.94);
  }
}
.dd-s-register-info{
  border-bottom: 1px solid rgba(0,0,0,.1);
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  .dd-confirm{
    color: $blue;
    text-align: center;
    font-size: 30px;
    font-family: 'playfairDisplay-bold', sans-serif;
    display: none;
    margin: 0;
  }
  width: 100%;
  background-color: white;
  z-index: -1;
  position: absolute;
  height: 0;
  overflow: hidden;
  opacity: 0;
  @include transform(scale(0.96));
  -webkit-transition: margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 300ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-end,-webkit-transform 400ms cubic-bezier(.8,0,.55,.94);
  transition: margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 300ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-end,-webkit-transform 400ms cubic-bezier(.8,0,.55,.94);
  -o-transition: transform 400ms cubic-bezier(.8,0,.55,.94),margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 300ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-end;
  transition: transform 400ms cubic-bezier(.8,0,.55,.94),margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 300ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-end;
  transition: transform 400ms cubic-bezier(.8,0,.55,.94),margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 300ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-end,-webkit-transform 400ms cubic-bezier(.8,0,.55,.94);
  .dd-close-form{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: -20px;
    background: url(../images/close.svg) no-repeat;
    background-size: 20px 20px;
    &:hover{
      background: url(../images/close-blue.svg) no-repeat;
      @include transition(.3s, ease-in-out);
    }
  }
  .dd-b-container{
    .dd-b-head{
      text-align: center;
      margin-bottom: 50px;
      h2{
        margin-top: 0;
        font-size: 30px;
        color: $blue;
        font-family: 'playfairDisplay-bold', sans-serif;
      }
      p{
        font-size: 13px;
        color: #a8a8a8;
        margin-bottom: 0;

      }
    }
    .dd-b-body{

    }
  }
}
.dd-s-ourstory{
  padding: 0;
  text-align: center;
  margin-bottom: 50px;
  .dd-b-container{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    .dd-b-video{
      width: 100%;
      margin-bottom: 25px;
      iframe{
        width: 100%;
      }
    }
    .js-register{
    }

  }
}
.dd-s-ourview{
  padding-top: 0;
  padding-bottom: 0;
  .dd-b-container{
    padding-left: 0;
    padding-right: 0;
    .dd-b-body{
      position: relative;
      .dd-slide{
        width: 100%;
        height: 315px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .slick-dots{
        bottom: 30px;
        li{
          margin: 0 2px;
          button{
            &:before{
              font-size: 40px;
              color: white;
              opacity: .5;
            }
          }
          &.slick-active{
            button{
              &:before{
                opacity: 1;
                color: $azure-radiance;

              }
            }
          }
        }
      }
      .arrow-slider {
        &.pre-nav{
          position: absolute;
          top: 50%;
          left: 20px;
          width: 30px;
          height: 30px;
          border-top: 1px solid #fff;
          border-left: 1px solid #fff;
          @include transform(translateY(-50%) rotate(-45deg));
          opacity: 1;
          display: block;
          cursor: pointer;
          z-index: 1;
        }
        &.next-nav{
          position: absolute;
          top: 50%;
          right: 20px;
          width: 30px;
          height: 30px;
          border-top: 1px solid #fff;
          border-right: 1px solid #fff;
          @include transform(translateY(-50%) rotate(45deg));
          opacity: 1;
          display: block;
          cursor: pointer;
          z-index: 1;
        }
      }

    }
    .dd-btn-center{
      padding-top: 30px;
      text-align: center;
      margin-bottom: 50px;
    }
  }
}

.dd-s-location {
  padding-top: 0;
  padding-bottom: 0;
  .dd-b-container{
    padding-left: 0;
    padding-right: 0;
    .dd-b-location {
      border-top: 1px solid #a6a9ab;
      border-bottom: 1px solid #a6a9ab;
      margin-bottom: 25px;
      height: 100%;

    }
    .dd-scroll-area {
      height: 100%;
      .dd-map-hotpot {
        height: 100%;
      }
    }
    .dd-location-map {
      position: relative;
      .dd-b-hotspot{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        .dd-b-hotspot-inner{
          position: relative;
          width: 100%;
          height: 100%;
          .dd-hotspot {
            position: absolute;
            z-index: 6;
            width: 35px;
            height: 35px;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            -moz-transform-origin: center center;
            -o-transform-origin: center center;
            -ms-transform-origin: center center;
            -webkit-transform-origin: center center;
            transform-origin: center center;
            margin: auto;
            background-repeat: no-repeat;

            &:after{
              content: attr(data-place);
              position: absolute;
              font-size: 18px;
              line-height: 1.3em;
              color: white;
              background-color: #0b3169;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
              top: 50%;
              right: 50px;
              width: 211px;
              text-align: center;
              @include transform(translateY(-50%));
              display: none;
              padding: 10px;
            }
            &:hover{
              &:after{
                display: block;
              }
            }
            &.is-museum{
              background-image: url(../images/museum-grey-icon.svg);
            }
            &.is-convention{
              background-image: url(../images/convention-grey-icon.svg);
            }
            &.is-operahouse{
              background-image: url(../images/operahouse-grey-icon.svg);
            }
            &.is-vistorscenter{
              background-image: url(../images/vistorscenter-grey-icon.svg);
            }
            &.is-sportarena{
              background-image: url(../images/sportarena-grey-icon.svg);
            }
            &.is-sportstadium{
              background-image: url(../images/sportstadium-grey-icon.svg);
            }
            &.is-childrenstadium{
              background-image: url(../images/childrenstadium-grey-icon.svg);
            }
            &.is-hospital{
              background-image: url(../images/hospital-grey-icon.svg);
            }
            &.is-marina{
              background-image: url(../images/marina-grey-icon.svg);
            }
            &.is-resort{
              background-image: url(../images/resort-grey-icon.svg);
            }
            &.is-park{
              background-image: url(../images/park-grey-icon.svg);
            }
            &.is-delta{
              background-image: url(../images/delta-grey-icon.svg);
            }
            &.is-school{
              background-image: url(../images/school-grey-icon.svg);
            }
            &.is-facility{
              background-image: url(../images/facility-grey-icon.svg);
            }
            &.is-cityhall{
              background-image: url(../images/cityhall-grey-icon.svg);
            }
            &.is-metropole{
              background-image: url(../images/metropole-icon.svg);
              width: 100px;
              height: 50px
            }
            &:hover {
              z-index: 12;
              &:after {
                display: block;
              }
            }
            &.hide {
              @include opacity(0);
            }
          }
        }

      }
    }
    .dd-btn-center{
      padding-top: 30px;
      text-align: center;
      margin-bottom: 25px;
    }
  }
}
.dd-b-note{
  padding: 0 60px;
  .dd-b-body{
    ul{
      li{
        margin-bottom: 10px;
        font-size: 10px;
        span{
          display: inline-block;
          vertical-align: middle;
          text-transform: uppercase;
          &.dd-stt{
            width: 15px;
            height: 15px;
            @include rounded(50%);
            border: 1px solid white;
            text-align: center;
            font-size: 9px;
            margin-right: 10px;
            position: relative;
              i{
                font-style: inherit;
                @include center-absolute('both')
              }

          }
          &.dd-note{
            padding-left: 40px;
            position: relative;
            &:before{
              @include pseudo();
              left: 0;
              top: 50%;
              @include transform(translate(0,-50%));
              background-image: url(../images/museum-grey-icon.svg);
              background-position: left;
              background-repeat: no-repeat;
              background-size: auto 12px;
              width: 40px;
              height: 12px;
            }
            &:after{
              @include pseudo();
              left: 28px;
              top: 50%;
              @include transform(translate(0,-50%));
              width: 4px;
              height: 1px;
              background-color: white;
            }
            &.is-museum{
              &:before{
                background-image: url(../images/museum-grey-icon.svg);
              }
            }
            &.is-convention{
              &:before{
                background-image: url(../images/convention-grey-icon.svg);
              }
            }
            &.is-operahouse{
              &:before{
                background-image: url(../images/operahouse-grey-icon.svg);
              }
            }
            &.is-vistorscenter{
              &:before{
                background-image: url(../images/vistorscenter-grey-icon.svg);

              }
            }
            &.is-sportarena{
              &:before{
                background-image: url(../images/sportarena-grey-icon.svg);
              }
            }
            &.is-sportstadium{
              &:before{
                background-image: url(../images/sportstadium-grey-icon.svg);
              }
            }
            &.is-childrenstadium{
              &:before{
                background-image: url(../images/childrenstadium-grey-icon.svg);
              }
            }
            &.is-hospital{
              &:before{
                background-image: url(../images/hospital-grey-icon.svg);
              }
            }
            &.is-marina{
              &:before{
                background-image: url(../images/marina-grey-icon.svg);
              }
            }
            &.is-resort{
              &:before{
                background-image: url(../images/resort-grey-icon.svg);
              }
            }
            &.is-park{
              &:before{
                background-image: url(../images/park-grey-icon.svg);
              }
            }
            &.is-delta{
              &:before{
                background-image: url(../images/delta-grey-icon.svg);
              }
            }
            &.is-school{
              &:before{
                background-image: url(../images/school-grey-icon.svg);
              }
            }
            &.is-facility{
              &:before{
                background-image: url(../images/facility-grey-icon.svg);
              }
            }
            &.is-cityhall{
              &:before{
                background-image: url(../images/cityhall-grey-icon.svg);
              }
            }

          }
        }

      }
    }
  }
}
.ourview, .ourlocation{
  footer .dd-b-container .dd-b-body{
    border-top: 0;
  }
}

@include mq('tablet'){
  .dd-s-ourstory{
    .dd-b-container{
      .dd-b-head {
        .dd-b-col {
          .dd-b-content {
            h2{
              font-size: 35px;
            }
          }
        }
      }
      .dd-b-body{
        .dd-b-item{
          .dd-img{
            height: 250px;
          }
        }
      }
    }
  }
  .dd-s-lifestyle{
    .dd-b-container{
      .dd-row-fluid{
        .span-4{
          margin-left: 0;
          &.dd-b-item{
            height: 560px;
          }
        }
        .slick-dots{
          bottom: 30px;
          li{
            margin: 0 2px;
            button{
              &:before{
                font-size: 40px;
                color: white;
                opacity: .5;
              }
            }
            &.slick-active{
              button{
                &:before{
                  opacity: 1;
                  color: $azure-radiance;

                }
              }
            }
          }
        }
      }
      .dd-btn-center{
        padding-top: 30px;
        text-align: center;
      }
    }
  }
  .dd-s-section {
    min-height: calc(100vh - 370px);
  }
  .dd-s-ourview{
    .dd-b-container{
      .dd-b-body{
        .dd-slide{
          height: 560px;
        }
      }
      .dd-btn-center{
        padding-top: 30px;
        text-align: center;
      }
    }
  }
}
@include mq('desktop'){
  header{
    width: 290px;
    float: left;
    height: 100vh;
    padding-bottom: 0;
    padding-top: 50px;
    .dd-b-head{
      display: block;
      width: 100%;
      margin-bottom: 10px;
      .dd-b-container{
        .dd-logo{
            height: 120px;
            width: 120px;
            margin: 0 auto;
        }
      }
    }
    .dd-b-body{
      width: 100%;
      .dd-b-container{
        .dd-b-menu{
          li{
            text-align: center;
            margin-bottom: 10px;
            a{
              padding-bottom: 5px;
            }
          }
        }
      }
    }
    .dd-b-foot{
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 50px;
      left: 0;
      padding-left: 70px;
      padding-right: 70px;
      .dd-b-container{
        .dd-register-btn{
          margin-bottom: 15px;
          display: block;
        }
        .dd-share-btn{
          margin-bottom: 5px;
          color: white;
          text-transform: uppercase;
          font-size: 11px;
          display: block;
        }
        .dd-b-sns{
          font-size: 0;
          line-height: 0;
          padding-top: 10px;
          border-top: 1px solid white;
          p{
            font-size: 13px;
            line-height: 1em;
            color: white;
            text-transform: uppercase;
          }
          .dd-sns{
            display: inline-block;
            margin-bottom: 45px;
            li{
              display: inline-block;
              margin-right: 10px;
              &:last-child{
                margin-right: 0;
              }
              a{
                display: block;
                padding: 7px;
                @include rounded(5px);
                border: 1px solid white;
                img{
                  height: 18px;
                  width: auto;
                }
              }
            }
          }
          .dd-lang{
            margin-bottom: 7px;
            ul{
              padding-bottom: 10px;
              border-bottom: 2px solid #c1c4ce;
              font-size: 0;
              li{
                display: inline-block;
                margin-right: 5px;
                &:last-child{
                  margin-right: 0;
                }
                a{
                  display: block;
                  img{
                    height: 17px;
                    width: auto;

                  }
                }
              }
            }
          }
          .dd-foot{
            p{
              font-size: 8px;
              text-transform: uppercase;
            }
            img{
              margin: 0 auto;
              height: 20px;
              width: auto;
            }
          }
        }

      }
    }
  }
  .dd-s-section{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    height: 100vh;
    overflow: hidden;
    width: calc(100% - 290px);
    float: right;
    .dd-b-container{
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .dd-readmore-active{
    .dd-s-ourstory{
      .dd-b-container{
        .dd-b-head{
          .dd-b-col{
            &:first-child{
              width: 43%;
              @include transition(.5s, ease-in-out);
            }
            &:last-child{
              width: 57%;
              padding-right: 5px;
              @include transition(.5s, ease-in-out);
            }
            .dd-b-content{
              position: relative;
              h2{
                margin-top: 0;
                font-size: 26px;
                line-height: 1.2em;
              }
              .dd-content{
                max-height: inherit;
                top: inherit;
                left: inherit;
                @include transform(translate(0));
                margin-bottom: 0;
                padding-bottom: 40px;
              }
            }
            .dd-close{
              max-width: 240px;
              margin: 0 auto;
              position: absolute;
              left: 50%;
              bottom: 5px;
              width: 100%;
              @include transform(translate(-50%, 0))
            }
          }
        }
      }
    }
  }
  .dd-s-ourstory{
    margin-bottom: 0;
    .dd-b-container{
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      height: 100%;
      .dd-b-video{
        margin-bottom: 0;
        height: 100%;
          iframe{
            width: 100% !important;
            height: 100% !important;
          }
      }
    }
  }
  .dd-s-register-info{
    position: fixed;
    right: 10px;
    width: calc(100% - 290px);
    height: 100%;
    margin-left: 290px;
    background-color: rgba(3, 14, 58, .9);
    .dd-s-register-info-inner{
      width: 620px;
      @include center-absolute('both');
      .dd-b-container{
        padding: 40px;
        background-color: white;
        max-width: 620px;
        margin: 0 auto;
        min-height: 500px;
        .dd-b-body{
          .dd-confirm{
            margin: 0;
            @include center-absolute('both');
            width: 100%;
            padding: 0 40px;
          }
          .dd-close-form{
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 20px;
            top: 20px;
            background: url(../images/close.svg) no-repeat;
            background-size: 20px 20px;
            &:hover{
              background: url(../images/close-blue.svg) no-repeat;
              @include transition(.3s, ease-in-out);
            }
          }
          form{
            font-size: 0;
            .dd-b-form-group{
              input{
                height: 32px;
              }
              &.col-6{
                width: calc(50% - 10px);
                margin-right: 20px;
                display: inline-block;
                vertical-align: top;
                &.col-6-last{
                  margin-right: 0;
                }
              }
              textarea{
                min-height: 100px;

              }
            }
          }
        }
      }
    }
  }
  .dd-s-video-popup{
    position: fixed;
    background-color: $blue-opacity;
    right: 10px;
    width: calc(100% - 320px);
    height: calc(100% - 20px);
    z-index: -1;
    opacity: 0;
    @include transform(scale(0.96));
    -webkit-transition: margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 300ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-end,-webkit-transform 400ms cubic-bezier(.8,0,.55,.94);
    transition: margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 300ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-end,-webkit-transform 400ms cubic-bezier(.8,0,.55,.94);
    -o-transition: transform 400ms cubic-bezier(.8,0,.55,.94),margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 300ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-end;
    transition: transform 400ms cubic-bezier(.8,0,.55,.94),margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 300ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-end;
    transition: transform 400ms cubic-bezier(.8,0,.55,.94),margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 300ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-end,-webkit-transform 400ms cubic-bezier(.8,0,.55,.94);
    .dd-s-video-popup-inner{
      @include center-absolute('both');
      .dd-b-container{
        background-color: white;
        padding: 10px;
        video{
          width: auto;
          height: 80vh;
          display: block;
        }

        iframe{
          width: auto;
          height: 80vh;
          display: block;
        }
        .dd-close-video{
          display: inline-block;
          color: white;
          font-size: 14px;
          text-transform: uppercase;
          padding-left: 20px;
          position: absolute;
          right: 0;
          top: -10px;
          @include transform(translateY(-100%));
          &:before{
            @include pseudo();
            left: 0;
            background: url(../images/close-white.svg) no-repeat;
            background-size: 13px 13px;
            top: 50%;
            width: 13px;
            height: 13px;
            @include transform(translate(0,-50%));
          }

        }
      }
    }
  }
  .show-video-popup{
    .dd-s-video-popup{
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      z-index: 900;
      -webkit-transition: margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 400ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-start,-webkit-transform 400ms cubic-bezier(.8,0,.55,.94);
      transition: margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 400ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-start,-webkit-transform 400ms cubic-bezier(.8,0,.55,.94);
      -o-transition: transform 400ms cubic-bezier(.8,0,.55,.94),margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 400ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-start;
      transition: transform 400ms cubic-bezier(.8,0,.55,.94),margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 400ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-start;
      transition: transform 400ms cubic-bezier(.8,0,.55,.94),margin-top 500ms cubic-bezier(.8,0,.55,.94),opacity 400ms cubic-bezier(.8,0,.55,.94),z-index 400ms step-start,-webkit-transform 400ms cubic-bezier(.8,0,.55,.94);
    }
  }
  .dd-s-ourview{
    .dd-b-container{
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      @include transform(translate(0,0));
      .dd-b-body{
        height: 100%;
        .slick-list, .slick-track{
          height: 100%;
        }
        .dd-slide{
          width: 100%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .slick-dots{
          bottom: 25px;
          li{
            button{
              &:before{
                font-size: 60px;
                color: white;
                opacity: 1;
              }
            }
            &.slick-active{
              button{
                &:before{
                  color: $azure-radiance;
                  opacity: 1;
                }
              }
            }
          }
        }

      }
    }
  }
  .dd-s-lifestyle{
    .dd-b-container{
      .dd-row-fluid{
        .span-4{
          width: calc(33% - 10px) !important;
          &.dd-b-item{
            margin-right: 20px;
            margin-left: 0;
            &:nth-child(2n){
              margin-right: 20px;
            }
            &:nth-child(3n){
              margin-right: 0;
            }
            height: calc(33vh - 45px);
            margin-bottom: 20px;

            &.dd-b-content{
              margin-bottom: 0;
              .dd-b-content-inner{
                padding: 0 20px;
                min-height: 0;
                h2{
                  font-size: 19px;
                }
              }
            }

            &.dd-viewmore{
              z-index: 1;
              position: relative;
              .dd-b-content-inner{
                position: relative;
                height: 100%;
                min-height: 60vh;
                width: calc(100% + 1px);
                @include transition(.3s, ease-in-out);
                .dd-content{
                  max-height: 60vh;
                  .dd-b-close{
                    position: absolute;
                    width: 100%;
                    bottom: 20px;
                    left: 0;

                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .dd-s-location {
    .dd-b-container{
      height: 100%;
      .dd-b-location {
        border: 1px solid #a6a9ab;
        margin-bottom: 0;
      }
      .dd-scroll-area {
        .dd-map-hotpot {
          img {
            height: 100%;
            width: auto;
            margin-left: auto;
          }
        }
      }
      .dd-btn-center{
        padding-top: 30px;
        text-align: center;
        margin-bottom: 25px;
      }
    }

  }
  .dd-b-note{
    padding: 0;
    position: absolute;
    top: 50%;
    left: 20px;
    @include transform(translate(0,-50%));
    .dd-b-body{
      ul{
        li{
          font-size: 11px;

          .dd-note{

          }
        }
      }
    }
  }
}
@include mq('desktop-1366'){

}
@include mq('desktop-1400'){


  .dd-s-lifestyle{
    .dd-b-container{
      .dd-row-fluid{
        .span-4{
          &.dd-b-item{

            &.dd-b-content{
              .dd-b-content-inner{
                h2{
                  font-size: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@include mq('desktop-1600'){
  header{
    padding-top: 70px;
    width: 290px;
    float: left;
    height: 100vh;
    padding-bottom: 0;
    .dd-b-head{
      display: block;
      width: 100%;
      margin-bottom: 35px;
      .dd-b-container{
        .dd-logo{
          height: 145px;
          width: 145px;
          margin: 0 auto;
        }
      }
    }
    .dd-b-body{
      width: 100%;
      .dd-b-container{
        .dd-b-menu{
          li{
            text-align: center;
            margin-bottom: 15px;
            a{
              padding-bottom: 5px;
            }
          }
        }
      }
    }
    .dd-b-foot{
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 70px;
      left: 0;
      padding-left: 70px;
      padding-right: 70px;
      .dd-b-container{
        .dd-register-btn{
          margin-bottom: 20px;
        }
        .dd-share-btn{
          margin-bottom: 10px;
          color: white;
          text-transform: uppercase;
          font-size: 11px;
          display: block;
        }
        .dd-b-sns{
          font-size: 0;
          line-height: 0;
          padding-top: 10px;
          border-top: 1px solid white;
          p{
            font-size: 13px;
            line-height: 1em;
            color: white;
            text-transform: uppercase;
          }
          .dd-sns{
            display: inline-block;
            margin-bottom: 45px;
            li{
              display: inline-block;
              margin-right: 10px;
              &:last-child{
                margin-right: 0;
              }
              a{
                display: block;
                padding: 7px;
                @include rounded(5px);
                border: 1px solid white;
                img{
                  height: 18px;
                  width: auto;
                }
              }
            }
          }
          .dd-lang{
            margin-bottom: 7px;
            ul{
              padding-bottom: 10px;
              border-bottom: 2px solid #c1c4ce;
              font-size: 0;
              li{
                display: inline-block;
                margin-right: 5px;
                &:last-child{
                  margin-right: 0;
                }
                a{
                  display: block;
                  img{
                    height: 17px;
                    width: auto;

                  }
                }
              }
            }
          }
          .dd-foot{
            p{
              font-size: 8px;
              text-transform: uppercase;
            }
            img{
              margin: 0 auto;
              height: 20px;
              width: auto;
            }
          }
        }

      }
    }
  }
  .dd-s-section{
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 70px;
  }
  .dd-s-lifestyle{
    .dd-b-container{
      .dd-row-fluid{
        .span-4{
          &.dd-b-item{
            height: calc(33vh - 57px);
            &.dd-b-content{
              .dd-b-content-inner{
                h2{
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
  .dd-b-note{
    left: 50px;
    .dd-b-body{
      ul{
        li{
          font-size: 12px;
        }
      }
    }
  }
}
@include mq('desktop-1900'){
  header{
    .dd-b-body{
      .dd-b-container{
        .dd-body{
          padding-top: 6vh;
          position: relative;
          .dd-b-logo{
            margin-bottom: 6vh;
          }
          .dd-b-menu{
            margin-bottom: 6vh;
            ul{
              li{
                a{
                  font-size: 28px;
                }
              }
            }
          }
          .dd-b-register{
            margin-bottom: 8vh;
          }
          .dd-b-language{
          }
        }
      }
    }
  }
  .dd-s-lifestyle{
    .dd-b-container{
      .dd-row-fluid{
        .span-4{
          &.dd-b-item{
            &.dd-b-content{
              .dd-b-content-inner{
                h2{
                  font-size: 31px;
                }
              }
            }
          }
        }
      }
    }
  }
}