@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");
@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HelveticaNeue.otf); }
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url(../fonts/HelveticaNeue-Bold.otf); }
/* ----------------------- External Font ----------------------- */
/* ---------- Media Queries ---------- */
/* ---------- Placeholder Style ---------- */
/* ---------- Center an element (absolute) ---------- */
/* ---------- Center an element (relative) ---------- */
/* ---------- Animation Mixin Setup ---------- */
/* ---------- Gradient ---------- */
/* ----------------------- Rounded ----------------------- */
/* ----------------------- Opacity ----------------------- */
/* ----------------------- Transform ----------------------- */
/* -------------------- Transform Delay -------------------- */
/* -------------------- Animation Delay -------------------- */
/* ----------------------- Rotation ----------------------- */
/* ----------------------- Scale ----------------------- */
/* -------------------- Scale Horizontal -------------------- */
/* ------------------ Transform Origin ------------------ */
/* ----------------------- Transition ----------------------- */
/* ------------------ Transition Specific ------------------ */
/* ----------------------- Pseudo ----------------------- */
/* ----------------------- Filter ----------------------- */
/* 
  grayscale      ex: filter: grayscale(100%);
  sepia          ex: filter: sepia(100%);
  saturate       ex: filter: saturate(0%);
  hue-rotate     ex: filter: hue-rotate(45deg);
  invert         ex: filter: invert(100%);
  brightness     ex: filter: brightness(15%);
  contrast       ex: filter: contrast(200%);
  blur           ex: filter: blur(2px);
*/
/* --------------------- Box Shadow --------------------- */
/* --------------------- Text Shadow --------------------- */
/* ----------------------- Extra Mixin ----------------------- */
/* Can remove in another project */
/*
   .-----------------------------------------------------.
   |                     BASIC STYLES                    |
   '-----------------------------------------------------'
*/
html {
  overflow-x: hidden !important; }

body {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #03103a;
  overflow-x: hidden; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:last-child {
  margin-bottom: 0; }

input, textarea {
  outline: none; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: rgba(51, 51, 51, 0.45); }
  input:-moz-placeholder, textarea:-moz-placeholder {
    color: rgba(51, 51, 51, 0.45); }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: rgba(51, 51, 51, 0.45); }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: rgba(51, 51, 51, 0.45); }

button {
  outline: none; }

form .dd-b-form-group {
  margin-bottom: 30px; }
  form .dd-b-form-group input {
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid #929292;
    width: 100%;
    font-size: 14px; }
    form .dd-b-form-group input:focus {
      border-bottom: 1px solid #03103a; }
    form .dd-b-form-group input.unhappy {
      border-bottom: 1px solid #c41616; }
  form .dd-b-form-group textarea {
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid #929292;
    width: 100%;
    min-height: 100px;
    resize: none;
    font-size: 14px; }
    form .dd-b-form-group textarea:focus {
      border-bottom: 1px solid #03103a; }
    form .dd-b-form-group textarea.unhappy {
      border-bottom: 1px solid #c41616; }
  form .dd-b-form-group:last-child {
    margin-bottom: 0; }
form button {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #03103a;
  height: 60px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  line-height: 60px;
  background-color: white;
  border: 1px solid #03103a;
  padding: 0;
  display: block; }
  form button:hover {
    background-color: #03103a;
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.slick-dotted.slick-slider {
  margin-bottom: 0 !important; }

.red-color {
  color: #c41616 !important; }

table {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%; }
  table tr {
    padding: 0;
    margin: 0; }
  table th {
    font-style: normal;
    padding: 0;
    margin: 0; }
  table td {
    padding: 0;
    margin: 0; }

address {
  font-style: normal; }

blockquote {
  margin: 0;
  padding: 0; }

input[type='text'],
textarea {
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  height: 32px;
  font-size: 15px;
  line-height: 32px;
  padding: 0 8px;
  margin: 0;
  width: 100%;
  background: transparent; }

textarea {
  height: 72px;
  padding-top: 8px; }

input[type='submit'] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

img {
  max-width: 100%;
  display: block; }

a {
  text-decoration: none;
  color: #00A8FF;
  line-height: 1.2em; }
  a:hover {
    text-decoration: none !important; }
  a:focus {
    text-decoration: none !important; }

p {
  margin: 0 0 8px 0;
  padding: 0; }

.clearfix, .dd-s-section .dd-b-container, .dd-b-container {
  *zoom: 1; }
  .clearfix:before, .dd-s-section .dd-b-container:before, .dd-b-container:before, .clearfix:after, .dd-s-section .dd-b-container:after, .dd-b-container:after {
    content: " ";
    display: table; }
  .clearfix:after, .dd-s-section .dd-b-container:after, .dd-b-container:after {
    clear: both; }

.dd-row-fluid {
  *zoom: 1; }
  .dd-row-fluid:before {
    content: "";
    display: table; }
  .dd-row-fluid:after {
    content: "";
    display: table;
    clear: both; }
  .dd-row-fluid [class*="span-"] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
    .dd-row-fluid [class*="span-"]:first-child {
      margin-left: 0 !important; }
  .dd-row-fluid .no-gutter {
    margin-left: 0 !important; }
  .dd-row-fluid .pull-right {
    float: right; }
  .dd-row-fluid .span-1 {
    width: 100%; }
  .dd-row-fluid .span-2 {
    width: 100%; }
  .dd-row-fluid .span-3 {
    width: 100%; }
  .dd-row-fluid .span-4 {
    width: 100%; }
  .dd-row-fluid .span-5 {
    width: 100%; }
  .dd-row-fluid .span-6 {
    width: 100%; }
  .dd-row-fluid .span-7 {
    width: 100%; }
  .dd-row-fluid .span-8 {
    width: 100%; }
  .dd-row-fluid .span-9 {
    width: 100%; }
  .dd-row-fluid .span-10 {
    width: 100%; }
  .dd-row-fluid .span-11 {
    width: 100%; }
  .dd-row-fluid .span-12 {
    width: 100%; }
  @media only screen and (min-width: 768px) {
    .dd-row-fluid .span-1 {
      width: 7.0422535211%; }
    .dd-row-fluid [class*="span-"].offset-1 {
      margin-left: 8.4507042254% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-1 {
      margin-right: 8.4507042254% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-2 {
      width: 15.4929577465%; }
    .dd-row-fluid [class*="span-"].offset-2 {
      margin-left: 16.9014084507% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-2 {
      margin-right: 16.9014084507% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-3 {
      width: 23.9436619718%; }
    .dd-row-fluid [class*="span-"].offset-3 {
      margin-left: 25.3521126761% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-3 {
      margin-right: 25.3521126761% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-4 {
      width: 32.3943661972%; }
    .dd-row-fluid [class*="span-"].offset-4 {
      margin-left: 33.8028169014% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-4 {
      margin-right: 33.8028169014% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-5 {
      width: 40.8450704225%; }
    .dd-row-fluid [class*="span-"].offset-5 {
      margin-left: 42.2535211268% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-5 {
      margin-right: 42.2535211268% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-6 {
      width: 49.2957746479%; }
    .dd-row-fluid [class*="span-"].offset-6 {
      margin-left: 50.7042253521% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-6 {
      margin-right: 50.7042253521% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-7 {
      width: 57.7464788732%; }
    .dd-row-fluid [class*="span-"].offset-7 {
      margin-left: 59.1549295775% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-7 {
      margin-right: 59.1549295775% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-8 {
      width: 66.1971830986%; }
    .dd-row-fluid [class*="span-"].offset-8 {
      margin-left: 67.6056338028% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-8 {
      margin-right: 67.6056338028% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-9 {
      width: 74.6478873239%; }
    .dd-row-fluid [class*="span-"].offset-9 {
      margin-left: 76.0563380282% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-9 {
      margin-right: 76.0563380282% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-10 {
      width: 83.0985915493%; }
    .dd-row-fluid [class*="span-"].offset-10 {
      margin-left: 84.5070422535% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-10 {
      margin-right: 84.5070422535% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-11 {
      width: 91.5492957746%; }
    .dd-row-fluid [class*="span-"].offset-11 {
      margin-left: 92.9577464789% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-11 {
      margin-right: 92.9577464789% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-12 {
      width: 100%; }
    .dd-row-fluid [class*="span-"].offset-12 {
      margin-left: 101.4084507042% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-12 {
      margin-right: 101.4084507042% !important;
      margin-left: 0 !important; }
    .dd-row-fluid [class*="span-"],
    .dd-row-fluid [class*="span-"].has-gutter {
      margin-left: 1.4084507042%; } }
  @media only screen and (min-width: 1080px) {
    .dd-row-fluid .span-1 {
      width: 7.8534031414%; }
    .dd-row-fluid .offset-1 {
      margin-left: 8.3769633508% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-1 {
      margin-right: 8.3769633508% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-2 {
      width: 16.2303664921%; }
    .dd-row-fluid .offset-2 {
      margin-left: 16.7539267016% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-2 {
      margin-right: 16.7539267016% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-3 {
      width: 24.6073298429%; }
    .dd-row-fluid .offset-3 {
      margin-left: 25.1308900524% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-3 {
      margin-right: 25.1308900524% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-4 {
      width: 32.9842931937%; }
    .dd-row-fluid .offset-4 {
      margin-left: 33.5078534031% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-4 {
      margin-right: 33.5078534031% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-5 {
      width: 41.3612565445%; }
    .dd-row-fluid .offset-5 {
      margin-left: 41.8848167539% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-5 {
      margin-right: 41.8848167539% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-6 {
      width: 49.7382198953%; }
    .dd-row-fluid .offset-6 {
      margin-left: 50.2617801047% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-6 {
      margin-right: 50.2617801047% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-7 {
      width: 58.1151832461%; }
    .dd-row-fluid .offset-7 {
      margin-left: 58.6387434555% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-7 {
      margin-right: 58.6387434555% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-8 {
      width: 66.4921465969%; }
    .dd-row-fluid .offset-8 {
      margin-left: 67.0157068063% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-8 {
      margin-right: 67.0157068063% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-9 {
      width: 74.8691099476%; }
    .dd-row-fluid .offset-9 {
      margin-left: 75.3926701571% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-9 {
      margin-right: 75.3926701571% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-10 {
      width: 83.2460732984%; }
    .dd-row-fluid .offset-10 {
      margin-left: 83.7696335079% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-10 {
      margin-right: 83.7696335079% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-11 {
      width: 91.6230366492%; }
    .dd-row-fluid .offset-11 {
      margin-left: 92.1465968586% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-11 {
      margin-right: 92.1465968586% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-12 {
      width: 100%; }
    .dd-row-fluid .offset-12 {
      margin-left: 100.5235602094% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-12 {
      margin-right: 100.5235602094% !important;
      margin-left: 0 !important; }
    .dd-row-fluid [class*="span-"],
    .dd-row-fluid [class*="span-"].has-gutter {
      margin-left: 0.5235602094%; } }

.mobile-hide {
  display: none !important; }

@media only screen and (min-width: 768px) {
  .mobile-hide {
    display: inherit !important; }

  .tablet-hide {
    display: none !important; } }
@media only screen and (min-width: 1080px) {
  .mobile-hide {
    display: inherit !important; }

  .tablet-hide {
    display: inherit !important; }

  .desktop-hide {
    display: none !important; } }
.dd-readmore {
  display: inline-block;
  padding-left: 60px;
  text-transform: uppercase;
  position: relative;
  color: white;
  font-family: 'Averta-Bold', sans-serif; }
  .dd-readmore:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 1px;
    left: 0;
    background-color: white;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .dd-readmore:focus {
    outline: none; }
  .dd-readmore:hover {
    color: white; }

.dd-close {
  display: block;
  position: relative;
  text-align: center; }
  .dd-close span {
    width: 22px;
    height: 22px;
    display: inline-block;
    background: url(../images/close-white.svg) no-repeat;
    background-size: 22px 22px; }
  .dd-close:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 45%;
    width: calc(50% - 20px);
    height: 1px;
    background-color: white; }
  .dd-close:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 45%;
    width: calc(50% - 20px);
    height: 1px;
    background-color: white; }
  .dd-close:hover span {
    background: url(../images/close-blue.svg) no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .dd-close:focus {
    outline: none; }

.dd-register-btn {
  text-transform: uppercase;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 15px;
  background: #9b9d9d;
  color: #03103a;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .dd-register-btn:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.dd-s-section {
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media only screen and (min-width: 1080px) {
    .dd-s-section {
      padding-top: 0;
      padding-bottom: 0; } }
  .dd-s-section .dd-b-container {
    position: relative;
    padding-left: 25px;
    padding-right: 25px; }
    @media only screen and (min-width: 1080px) {
      .dd-s-section .dd-b-container {
        padding: 0;
        margin: 0 auto; } }

.dd-b-container {
  position: relative;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (min-width: 1080px) {
    .dd-b-container {
      padding: 0;
      margin: 0 auto; } }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  padding: 0;
  margin-top: 0 !important; }

h1 {
  font-size: 32px;
  line-height: 36px; }

h2 {
  font-size: 28px;
  line-height: 34px; }

h3 {
  font-size: 22px;
  line-height: 26px; }

h4, h5, h6 {
  font-size: 20px;
  line-height: 24px; }

.dd-sub-heading {
  font-size: 20px;
  line-height: 24px; }

blockquote {
  font-size: 20px;
  line-height: 24px; }

button {
  width: 100%; }

.slick-slider {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

@media only screen and (min-width: 768px) {
  body {
    font-size: 14px;
    line-height: 20px; }

  h1 {
    font-size: 40px;
    line-height: 44px; }

  h2 {
    font-size: 32px;
    line-height: 36px; }

  h3 {
    font-size: 24px;
    line-height: 28px; }

  button {
    width: auto; } }
@media only screen and (min-width: 1080px) {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px; }

  h1 {
    font-size: 48px;
    line-height: 50px; }

  h2 {
    font-size: 36px;
    line-height: 40px; }

  h3 {
    font-size: 28px;
    line-height: 32px; }

  blockquote {
    font-size: 24px;
    line-height: 28px; } }
.gmnoprint {
  display: none; }

button[type=submit] {
  cursor: pointer; }

/*css input effect form*/
.dd-input-effect {
  position: relative; }
  .dd-input-effect input {
    color: #333;
    font-size: 16px;
    line-height: 21px;
    padding: 8px 0;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    position: relative;
    z-index: 3; }
    .dd-input-effect input:focus {
      outline: none; }
  .dd-input-effect .effect {
    border: 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent; }
  .dd-input-effect .effect ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #444444;
    transition: 0.4s;
    z-index: 3; }
  .dd-input-effect .effect:focus ~ .focus-border,
  .dd-input-effect .has-content.effect ~ .focus-border {
    width: 100%;
    transition: 0.4s; }
  .dd-input-effect .effect ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    z-index: 1;
    letter-spacing: 0.5px; }
  .dd-input-effect .effect:focus ~ label,
  .dd-input-effect .has-content.effect ~ label {
    top: -16px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    outline: none; }

/* necessary to give position: relative to parent. */
/*
   .-----------------------------------------------------.
   |                       SPINKIT                       |
   '-----------------------------------------------------'
*/
.dd-b-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: #03103a; }

.sk-folding-cube {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
    .sk-folding-cube .sk-cube:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
      animation: sk-foldCubeAngle 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%; }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg); }
    .sk-folding-cube .sk-cube2:before {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg); }
    .sk-folding-cube .sk-cube3:before {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg); }
    .sk-folding-cube .sk-cube4:before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
/* Hamburger Menu */
.McButton {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 16px;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  .McButton b {
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: white; }
    .McButton b:nth-child(1) {
      top: 0; }
    .McButton b:nth-child(2) {
      top: 50%; }
    .McButton b:nth-child(3) {
      top: 100%; }

/* McButton */
@media (max-width: 1080px) {
  .section {
    height: auto !important; } }
header {
  font-size: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative; }
  header .dd-b-head {
    display: inline-block;
    width: 50%;
    vertical-align: top; }
    header .dd-b-head .dd-b-container {
      padding: 0 25px; }
      header .dd-b-head .dd-b-container .dd-logo {
        display: block;
        width: 85px;
        height: 85px; }
  header .dd-b-body {
    display: inline-block;
    width: 50%;
    vertical-align: top; }
    header .dd-b-body .dd-b-container .dd-b-menu li {
      font-size: 13px;
      margin-bottom: 10px;
      text-align: right;
      text-transform: uppercase; }
      header .dd-b-body .dd-b-container .dd-b-menu li.active a {
        border-bottom: 1px solid white;
        font-family: "HelveticaNeue-Bold", sans-serif; }
      header .dd-b-body .dd-b-container .dd-b-menu li a {
        color: white; }

footer {
  padding-bottom: 30px; }
  footer .dd-b-container .dd-b-body .dd-lang {
    margin-bottom: 7px; }
    footer .dd-b-container .dd-b-body .dd-lang ul {
      padding-bottom: 5px;
      border-bottom: 2px solid #c1c4ce;
      font-size: 0; }
      footer .dd-b-container .dd-b-body .dd-lang ul li {
        display: inline-block;
        margin-right: 5px; }
        footer .dd-b-container .dd-b-body .dd-lang ul li:last-child {
          margin-right: 0; }
        footer .dd-b-container .dd-b-body .dd-lang ul li a {
          display: block; }
          footer .dd-b-container .dd-b-body .dd-lang ul li a img {
            height: 17px;
            width: auto; }
  footer .dd-b-container .dd-b-body .dd-foot {
    font-size: 0; }
    footer .dd-b-container .dd-b-body .dd-foot .dd-col {
      display: inline-block;
      vertical-align: top; }
      footer .dd-b-container .dd-b-body .dd-foot .dd-col:first-child p {
        font-size: 10px;
        margin-bottom: 5px; }
      footer .dd-b-container .dd-b-body .dd-foot .dd-col:first-child img {
        height: 12px;
        width: auto; }
      footer .dd-b-container .dd-b-body .dd-foot .dd-col:last-child {
        width: calc(100% - 105px);
        text-align: right; }
        footer .dd-b-container .dd-b-body .dd-foot .dd-col:last-child .dd-b-text {
          display: inline-block;
          margin-right: 7px; }
          footer .dd-b-container .dd-b-body .dd-foot .dd-col:last-child .dd-b-text a {
            color: white;
            text-transform: uppercase;
            font-size: 16px; }
          footer .dd-b-container .dd-b-body .dd-foot .dd-col:last-child .dd-b-text p {
            color: white;
            text-transform: uppercase;
            font-size: 9px; }
        footer .dd-b-container .dd-b-body .dd-foot .dd-col:last-child .dd-sns {
          display: inline-block; }
          footer .dd-b-container .dd-b-body .dd-foot .dd-col:last-child .dd-sns li {
            display: inline-block;
            margin-right: 7px; }
            footer .dd-b-container .dd-b-body .dd-foot .dd-col:last-child .dd-sns li:last-child {
              margin-right: 0; }
            footer .dd-b-container .dd-b-body .dd-foot .dd-col:last-child .dd-sns li a {
              display: block;
              padding: 5px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              border: 1px solid white; }
              footer .dd-b-container .dd-b-body .dd-foot .dd-col:last-child .dd-sns li a img {
                height: 11px;
                width: auto; }

.dd-s-section {
  min-height: calc(100vh - 322px); }

.dd-s-lifestyle {
  padding-top: 0; }
  .dd-s-lifestyle .dd-b-container {
    padding-left: 0;
    padding-right: 0; }
    .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item {
      height: 315px;
      width: 100%; }
      .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
      .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-b-content {
        color: white;
        margin-bottom: 20px; }
        .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-b-content .dd-b-content-inner {
          background-color: #03103a;
          display: inline-table;
          padding-left: 25px;
          padding-right: 25px; }
          .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-b-content .dd-b-content-inner h2 {
            font-size: 18px;
            font-family: 'HelveticaNeue', sans-serif;
            margin-top: 0;
            line-height: 1.4em; }
          .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-b-content .dd-b-content-inner .dd-content {
            max-height: 60px;
            overflow: hidden;
            margin-bottom: 15px; }
        .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-b-content.dd-viewmore .dd-content {
          max-height: 500px;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
        .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-b-content.dd-viewmore .dd-close {
          opacity: 1;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
        .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-b-content .dd-close {
          opacity: 0; }
    .dd-s-lifestyle .dd-b-container .dd-row-fluid .slick-dots {
      bottom: 30px; }
      .dd-s-lifestyle .dd-b-container .dd-row-fluid .slick-dots li {
        margin: 0 2px; }
        .dd-s-lifestyle .dd-b-container .dd-row-fluid .slick-dots li button:before {
          font-size: 40px;
          color: white;
          opacity: .5; }
        .dd-s-lifestyle .dd-b-container .dd-row-fluid .slick-dots li.slick-active button:before {
          opacity: 1;
          color: #00A8FF; }
    .dd-s-lifestyle .dd-b-container .dd-btn-center {
      padding-top: 30px;
      text-align: center; }

.show-register-form .dd-s-register-info {
  min-height: 100vh;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 900;
  padding-top: 40px;
  padding-bottom: 20px;
  height: auto;
  overflow: inherit;
  -webkit-transition: margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
  transition: margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
  -o-transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start;
  transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start;
  transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94); }

.dd-s-register-info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  background-color: white;
  z-index: -1;
  position: absolute;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0.96);
  -moz-transform: scale(0.96);
  -o-transform: scale(0.96);
  -ms-transform: scale(0.96);
  transform: scale(0.96);
  -webkit-transition: margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
  transition: margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
  -o-transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end;
  transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end;
  transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94); }
  .dd-s-register-info .dd-confirm {
    color: #03103a;
    text-align: center;
    font-size: 30px;
    font-family: 'playfairDisplay-bold', sans-serif;
    display: none;
    margin: 0; }
  .dd-s-register-info .dd-close-form {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: -20px;
    background: url(../images/close.svg) no-repeat;
    background-size: 20px 20px; }
    .dd-s-register-info .dd-close-form:hover {
      background: url(../images/close-blue.svg) no-repeat;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .dd-s-register-info .dd-b-container .dd-b-head {
    text-align: center;
    margin-bottom: 50px; }
    .dd-s-register-info .dd-b-container .dd-b-head h2 {
      margin-top: 0;
      font-size: 30px;
      color: #03103a;
      font-family: 'playfairDisplay-bold', sans-serif; }
    .dd-s-register-info .dd-b-container .dd-b-head p {
      font-size: 13px;
      color: #a8a8a8;
      margin-bottom: 0; }

.dd-s-ourstory {
  padding: 0;
  text-align: center;
  margin-bottom: 50px; }
  .dd-s-ourstory .dd-b-container {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }
    .dd-s-ourstory .dd-b-container .dd-b-video {
      width: 100%;
      margin-bottom: 25px; }
      .dd-s-ourstory .dd-b-container .dd-b-video iframe {
        width: 100%; }

.dd-s-ourview {
  padding-top: 0;
  padding-bottom: 0; }
  .dd-s-ourview .dd-b-container {
    padding-left: 0;
    padding-right: 0; }
    .dd-s-ourview .dd-b-container .dd-b-body {
      position: relative; }
      .dd-s-ourview .dd-b-container .dd-b-body .dd-slide {
        width: 100%;
        height: 315px; }
        .dd-s-ourview .dd-b-container .dd-b-body .dd-slide img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .dd-s-ourview .dd-b-container .dd-b-body .slick-dots {
        bottom: 30px; }
        .dd-s-ourview .dd-b-container .dd-b-body .slick-dots li {
          margin: 0 2px; }
          .dd-s-ourview .dd-b-container .dd-b-body .slick-dots li button:before {
            font-size: 40px;
            color: white;
            opacity: .5; }
          .dd-s-ourview .dd-b-container .dd-b-body .slick-dots li.slick-active button:before {
            opacity: 1;
            color: #00A8FF; }
      .dd-s-ourview .dd-b-container .dd-b-body .arrow-slider.pre-nav {
        position: absolute;
        top: 50%;
        left: 20px;
        width: 30px;
        height: 30px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -moz-transform: translateY(-50%) rotate(-45deg);
        -o-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
        opacity: 1;
        display: block;
        cursor: pointer;
        z-index: 1; }
      .dd-s-ourview .dd-b-container .dd-b-body .arrow-slider.next-nav {
        position: absolute;
        top: 50%;
        right: 20px;
        width: 30px;
        height: 30px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        -webkit-transform: translateY(-50%) rotate(45deg);
        -moz-transform: translateY(-50%) rotate(45deg);
        -o-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg);
        opacity: 1;
        display: block;
        cursor: pointer;
        z-index: 1; }
    .dd-s-ourview .dd-b-container .dd-btn-center {
      padding-top: 30px;
      text-align: center;
      margin-bottom: 50px; }

.dd-s-location {
  padding-top: 0;
  padding-bottom: 0; }
  .dd-s-location .dd-b-container {
    padding-left: 0;
    padding-right: 0; }
    .dd-s-location .dd-b-container .dd-b-location {
      border-top: 1px solid #a6a9ab;
      border-bottom: 1px solid #a6a9ab;
      margin-bottom: 25px;
      height: 100%; }
    .dd-s-location .dd-b-container .dd-scroll-area {
      height: 100%; }
      .dd-s-location .dd-b-container .dd-scroll-area .dd-map-hotpot {
        height: 100%; }
    .dd-s-location .dd-b-container .dd-location-map {
      position: relative; }
      .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%; }
        .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner {
          position: relative;
          width: 100%;
          height: 100%; }
          .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot {
            position: absolute;
            z-index: 6;
            width: 35px;
            height: 35px;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            -moz-transform-origin: center center;
            -o-transform-origin: center center;
            -ms-transform-origin: center center;
            -webkit-transform-origin: center center;
            transform-origin: center center;
            margin: auto;
            background-repeat: no-repeat; }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot:after {
              content: attr(data-place);
              position: absolute;
              font-size: 18px;
              line-height: 1.3em;
              color: white;
              background-color: #0b3169;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
              top: 50%;
              right: 50px;
              width: 211px;
              text-align: center;
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
              display: none;
              padding: 10px; }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot:hover:after {
              display: block; }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-museum {
              background-image: url(../images/museum-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-convention {
              background-image: url(../images/convention-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-operahouse {
              background-image: url(../images/operahouse-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-vistorscenter {
              background-image: url(../images/vistorscenter-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-sportarena {
              background-image: url(../images/sportarena-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-sportstadium {
              background-image: url(../images/sportstadium-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-childrenstadium {
              background-image: url(../images/childrenstadium-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-hospital {
              background-image: url(../images/hospital-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-marina {
              background-image: url(../images/marina-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-resort {
              background-image: url(../images/resort-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-park {
              background-image: url(../images/park-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-delta {
              background-image: url(../images/delta-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-school {
              background-image: url(../images/school-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-facility {
              background-image: url(../images/facility-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-cityhall {
              background-image: url(../images/cityhall-grey-icon.svg); }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.is-metropole {
              background-image: url(../images/metropole-icon.svg);
              width: 100px;
              height: 50px; }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot:hover {
              z-index: 12; }
              .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot:hover:after {
                display: block; }
            .dd-s-location .dd-b-container .dd-location-map .dd-b-hotspot .dd-b-hotspot-inner .dd-hotspot.hide {
              -moz-opacity: 0;
              -khtml-opacity: 0;
              -webkit-opacity: 0;
              opacity: 0;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
              filter: alpha(opacity=0); }
    .dd-s-location .dd-b-container .dd-btn-center {
      padding-top: 30px;
      text-align: center;
      margin-bottom: 25px; }

.dd-b-note {
  padding: 0 60px; }
  .dd-b-note .dd-b-body ul li {
    margin-bottom: 10px;
    font-size: 10px; }
    .dd-b-note .dd-b-body ul li span {
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase; }
      .dd-b-note .dd-b-body ul li span.dd-stt {
        width: 15px;
        height: 15px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid white;
        text-align: center;
        font-size: 9px;
        margin-right: 10px;
        position: relative; }
        .dd-b-note .dd-b-body ul li span.dd-stt i {
          font-style: inherit;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .dd-b-note .dd-b-body ul li span.dd-note {
        padding-left: 40px;
        position: relative; }
        .dd-b-note .dd-b-body ul li span.dd-note:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
          background-image: url(../images/museum-grey-icon.svg);
          background-position: left;
          background-repeat: no-repeat;
          background-size: auto 12px;
          width: 40px;
          height: 12px; }
        .dd-b-note .dd-b-body ul li span.dd-note:after {
          content: "";
          display: block;
          position: absolute;
          left: 28px;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
          width: 4px;
          height: 1px;
          background-color: white; }
        .dd-b-note .dd-b-body ul li span.dd-note.is-museum:before {
          background-image: url(../images/museum-grey-icon.svg); }
        .dd-b-note .dd-b-body ul li span.dd-note.is-convention:before {
          background-image: url(../images/convention-grey-icon.svg); }
        .dd-b-note .dd-b-body ul li span.dd-note.is-operahouse:before {
          background-image: url(../images/operahouse-grey-icon.svg); }
        .dd-b-note .dd-b-body ul li span.dd-note.is-vistorscenter:before {
          background-image: url(../images/vistorscenter-grey-icon.svg); }
        .dd-b-note .dd-b-body ul li span.dd-note.is-sportarena:before {
          background-image: url(../images/sportarena-grey-icon.svg); }
        .dd-b-note .dd-b-body ul li span.dd-note.is-sportstadium:before {
          background-image: url(../images/sportstadium-grey-icon.svg); }
        .dd-b-note .dd-b-body ul li span.dd-note.is-childrenstadium:before {
          background-image: url(../images/childrenstadium-grey-icon.svg); }
        .dd-b-note .dd-b-body ul li span.dd-note.is-hospital:before {
          background-image: url(../images/hospital-grey-icon.svg); }
        .dd-b-note .dd-b-body ul li span.dd-note.is-marina:before {
          background-image: url(../images/marina-grey-icon.svg); }
        .dd-b-note .dd-b-body ul li span.dd-note.is-resort:before {
          background-image: url(../images/resort-grey-icon.svg); }
        .dd-b-note .dd-b-body ul li span.dd-note.is-park:before {
          background-image: url(../images/park-grey-icon.svg); }
        .dd-b-note .dd-b-body ul li span.dd-note.is-delta:before {
          background-image: url(../images/delta-grey-icon.svg); }
        .dd-b-note .dd-b-body ul li span.dd-note.is-school:before {
          background-image: url(../images/school-grey-icon.svg); }
        .dd-b-note .dd-b-body ul li span.dd-note.is-facility:before {
          background-image: url(../images/facility-grey-icon.svg); }
        .dd-b-note .dd-b-body ul li span.dd-note.is-cityhall:before {
          background-image: url(../images/cityhall-grey-icon.svg); }

.ourview footer .dd-b-container .dd-b-body, .ourlocation footer .dd-b-container .dd-b-body {
  border-top: 0; }

@media only screen and (min-width: 768px) {
  .dd-s-ourstory .dd-b-container .dd-b-head .dd-b-col .dd-b-content h2 {
    font-size: 35px; }
  .dd-s-ourstory .dd-b-container .dd-b-body .dd-b-item .dd-img {
    height: 250px; }

  .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4 {
    margin-left: 0; }
    .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item {
      height: 560px; }
  .dd-s-lifestyle .dd-b-container .dd-row-fluid .slick-dots {
    bottom: 30px; }
    .dd-s-lifestyle .dd-b-container .dd-row-fluid .slick-dots li {
      margin: 0 2px; }
      .dd-s-lifestyle .dd-b-container .dd-row-fluid .slick-dots li button:before {
        font-size: 40px;
        color: white;
        opacity: .5; }
      .dd-s-lifestyle .dd-b-container .dd-row-fluid .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #00A8FF; }
  .dd-s-lifestyle .dd-b-container .dd-btn-center {
    padding-top: 30px;
    text-align: center; }

  .dd-s-section {
    min-height: calc(100vh - 370px); }

  .dd-s-ourview .dd-b-container .dd-b-body .dd-slide {
    height: 560px; }
  .dd-s-ourview .dd-b-container .dd-btn-center {
    padding-top: 30px;
    text-align: center; } }
@media only screen and (min-width: 1080px) {
  header {
    width: 290px;
    float: left;
    height: 100vh;
    padding-bottom: 0;
    padding-top: 50px; }
    header .dd-b-head {
      display: block;
      width: 100%;
      margin-bottom: 10px; }
      header .dd-b-head .dd-b-container .dd-logo {
        height: 120px;
        width: 120px;
        margin: 0 auto; }
    header .dd-b-body {
      width: 100%; }
      header .dd-b-body .dd-b-container .dd-b-menu li {
        text-align: center;
        margin-bottom: 10px; }
        header .dd-b-body .dd-b-container .dd-b-menu li a {
          padding-bottom: 5px; }
    header .dd-b-foot {
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 50px;
      left: 0;
      padding-left: 70px;
      padding-right: 70px; }
      header .dd-b-foot .dd-b-container .dd-register-btn {
        margin-bottom: 15px;
        display: block; }
      header .dd-b-foot .dd-b-container .dd-share-btn {
        margin-bottom: 5px;
        color: white;
        text-transform: uppercase;
        font-size: 11px;
        display: block; }
      header .dd-b-foot .dd-b-container .dd-b-sns {
        font-size: 0;
        line-height: 0;
        padding-top: 10px;
        border-top: 1px solid white; }
        header .dd-b-foot .dd-b-container .dd-b-sns p {
          font-size: 13px;
          line-height: 1em;
          color: white;
          text-transform: uppercase; }
        header .dd-b-foot .dd-b-container .dd-b-sns .dd-sns {
          display: inline-block;
          margin-bottom: 45px; }
          header .dd-b-foot .dd-b-container .dd-b-sns .dd-sns li {
            display: inline-block;
            margin-right: 10px; }
            header .dd-b-foot .dd-b-container .dd-b-sns .dd-sns li:last-child {
              margin-right: 0; }
            header .dd-b-foot .dd-b-container .dd-b-sns .dd-sns li a {
              display: block;
              padding: 7px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              border: 1px solid white; }
              header .dd-b-foot .dd-b-container .dd-b-sns .dd-sns li a img {
                height: 18px;
                width: auto; }
        header .dd-b-foot .dd-b-container .dd-b-sns .dd-lang {
          margin-bottom: 7px; }
          header .dd-b-foot .dd-b-container .dd-b-sns .dd-lang ul {
            padding-bottom: 10px;
            border-bottom: 2px solid #c1c4ce;
            font-size: 0; }
            header .dd-b-foot .dd-b-container .dd-b-sns .dd-lang ul li {
              display: inline-block;
              margin-right: 5px; }
              header .dd-b-foot .dd-b-container .dd-b-sns .dd-lang ul li:last-child {
                margin-right: 0; }
              header .dd-b-foot .dd-b-container .dd-b-sns .dd-lang ul li a {
                display: block; }
                header .dd-b-foot .dd-b-container .dd-b-sns .dd-lang ul li a img {
                  height: 17px;
                  width: auto; }
        header .dd-b-foot .dd-b-container .dd-b-sns .dd-foot p {
          font-size: 8px;
          text-transform: uppercase; }
        header .dd-b-foot .dd-b-container .dd-b-sns .dd-foot img {
          margin: 0 auto;
          height: 20px;
          width: auto; }

  .dd-s-section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    height: 100vh;
    overflow: hidden;
    width: calc(100% - 290px);
    float: right; }
    .dd-s-section .dd-b-container {
      padding-top: 0;
      padding-bottom: 0; }

  .dd-readmore-active .dd-s-ourstory .dd-b-container .dd-b-head .dd-b-col:first-child {
    width: 43%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .dd-readmore-active .dd-s-ourstory .dd-b-container .dd-b-head .dd-b-col:last-child {
    width: 57%;
    padding-right: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .dd-readmore-active .dd-s-ourstory .dd-b-container .dd-b-head .dd-b-col .dd-b-content {
    position: relative; }
    .dd-readmore-active .dd-s-ourstory .dd-b-container .dd-b-head .dd-b-col .dd-b-content h2 {
      margin-top: 0;
      font-size: 26px;
      line-height: 1.2em; }
    .dd-readmore-active .dd-s-ourstory .dd-b-container .dd-b-head .dd-b-col .dd-b-content .dd-content {
      max-height: inherit;
      top: inherit;
      left: inherit;
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -o-transform: translate(0);
      -ms-transform: translate(0);
      transform: translate(0);
      margin-bottom: 0;
      padding-bottom: 40px; }
  .dd-readmore-active .dd-s-ourstory .dd-b-container .dd-b-head .dd-b-col .dd-close {
    max-width: 240px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 100%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }

  .dd-s-ourstory {
    margin-bottom: 0; }
    .dd-s-ourstory .dd-b-container {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      height: 100%; }
      .dd-s-ourstory .dd-b-container .dd-b-video {
        margin-bottom: 0;
        height: 100%; }
        .dd-s-ourstory .dd-b-container .dd-b-video iframe {
          width: 100% !important;
          height: 100% !important; }

  .dd-s-register-info {
    position: fixed;
    right: 10px;
    width: calc(100% - 290px);
    height: 100%;
    margin-left: 290px;
    background-color: rgba(3, 14, 58, 0.9); }
    .dd-s-register-info .dd-s-register-info-inner {
      width: 620px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .dd-s-register-info .dd-s-register-info-inner .dd-b-container {
        padding: 40px;
        background-color: white;
        max-width: 620px;
        margin: 0 auto;
        min-height: 500px; }
        .dd-s-register-info .dd-s-register-info-inner .dd-b-container .dd-b-body .dd-confirm {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 100%;
          padding: 0 40px; }
        .dd-s-register-info .dd-s-register-info-inner .dd-b-container .dd-b-body .dd-close-form {
          display: block;
          width: 20px;
          height: 20px;
          position: absolute;
          right: 20px;
          top: 20px;
          background: url(../images/close.svg) no-repeat;
          background-size: 20px 20px; }
          .dd-s-register-info .dd-s-register-info-inner .dd-b-container .dd-b-body .dd-close-form:hover {
            background: url(../images/close-blue.svg) no-repeat;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
        .dd-s-register-info .dd-s-register-info-inner .dd-b-container .dd-b-body form {
          font-size: 0; }
          .dd-s-register-info .dd-s-register-info-inner .dd-b-container .dd-b-body form .dd-b-form-group input {
            height: 32px; }
          .dd-s-register-info .dd-s-register-info-inner .dd-b-container .dd-b-body form .dd-b-form-group.col-6 {
            width: calc(50% - 10px);
            margin-right: 20px;
            display: inline-block;
            vertical-align: top; }
            .dd-s-register-info .dd-s-register-info-inner .dd-b-container .dd-b-body form .dd-b-form-group.col-6.col-6-last {
              margin-right: 0; }
          .dd-s-register-info .dd-s-register-info-inner .dd-b-container .dd-b-body form .dd-b-form-group textarea {
            min-height: 100px; }

  .dd-s-video-popup {
    position: fixed;
    background-color: rgba(11, 49, 105, 0.9);
    right: 10px;
    width: calc(100% - 320px);
    height: calc(100% - 20px);
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -o-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
    -webkit-transition: margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
    transition: margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
    -o-transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end;
    transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end;
    transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 300ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-end, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94); }
    .dd-s-video-popup .dd-s-video-popup-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .dd-s-video-popup .dd-s-video-popup-inner .dd-b-container {
        background-color: white;
        padding: 10px; }
        .dd-s-video-popup .dd-s-video-popup-inner .dd-b-container video {
          width: auto;
          height: 80vh;
          display: block; }
        .dd-s-video-popup .dd-s-video-popup-inner .dd-b-container iframe {
          width: auto;
          height: 80vh;
          display: block; }
        .dd-s-video-popup .dd-s-video-popup-inner .dd-b-container .dd-close-video {
          display: inline-block;
          color: white;
          font-size: 14px;
          text-transform: uppercase;
          padding-left: 20px;
          position: absolute;
          right: 0;
          top: -10px;
          -webkit-transform: translateY(-100%);
          -moz-transform: translateY(-100%);
          -o-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
          transform: translateY(-100%); }
          .dd-s-video-popup .dd-s-video-popup-inner .dd-b-container .dd-close-video:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            background: url(../images/close-white.svg) no-repeat;
            background-size: 13px 13px;
            top: 50%;
            width: 13px;
            height: 13px;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }

  .show-video-popup .dd-s-video-popup {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 900;
    -webkit-transition: margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
    transition: margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
    -o-transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start;
    transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start;
    transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94), margin-top 500ms cubic-bezier(0.8, 0, 0.55, 0.94), opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), z-index 400ms step-start, -webkit-transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94); }

  .dd-s-ourview .dd-b-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
    .dd-s-ourview .dd-b-container .dd-b-body {
      height: 100%; }
      .dd-s-ourview .dd-b-container .dd-b-body .slick-list, .dd-s-ourview .dd-b-container .dd-b-body .slick-track {
        height: 100%; }
      .dd-s-ourview .dd-b-container .dd-b-body .dd-slide {
        width: 100%;
        height: 100%; }
        .dd-s-ourview .dd-b-container .dd-b-body .dd-slide img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .dd-s-ourview .dd-b-container .dd-b-body .slick-dots {
        bottom: 25px; }
        .dd-s-ourview .dd-b-container .dd-b-body .slick-dots li button:before {
          font-size: 60px;
          color: white;
          opacity: 1; }
        .dd-s-ourview .dd-b-container .dd-b-body .slick-dots li.slick-active button:before {
          color: #00A8FF;
          opacity: 1; }

  .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4 {
    width: calc(33% - 10px) !important; }
    .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item {
      margin-right: 20px;
      margin-left: 0;
      height: calc(33vh - 45px);
      margin-bottom: 20px; }
      .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item:nth-child(2n) {
        margin-right: 20px; }
      .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item:nth-child(3n) {
        margin-right: 0; }
      .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-b-content {
        margin-bottom: 0; }
        .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-b-content .dd-b-content-inner {
          padding: 0 20px;
          min-height: 0; }
          .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-b-content .dd-b-content-inner h2 {
            font-size: 19px; }
      .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-viewmore {
        z-index: 1;
        position: relative; }
        .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-viewmore .dd-b-content-inner {
          position: relative;
          height: 100%;
          min-height: 60vh;
          width: calc(100% + 1px);
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-viewmore .dd-b-content-inner .dd-content {
            max-height: 60vh; }
            .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-viewmore .dd-b-content-inner .dd-content .dd-b-close {
              position: absolute;
              width: 100%;
              bottom: 20px;
              left: 0; }

  .dd-s-location .dd-b-container {
    height: 100%; }
    .dd-s-location .dd-b-container .dd-b-location {
      border: 1px solid #a6a9ab;
      margin-bottom: 0; }
    .dd-s-location .dd-b-container .dd-scroll-area .dd-map-hotpot img {
      height: 100%;
      width: auto;
      margin-left: auto; }
    .dd-s-location .dd-b-container .dd-btn-center {
      padding-top: 30px;
      text-align: center;
      margin-bottom: 25px; }

  .dd-b-note {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    .dd-b-note .dd-b-body ul li {
      font-size: 11px; } }
@media only screen and (min-width: 1400px) {
  .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-b-content .dd-b-content-inner h2 {
    font-size: 22px; } }
@media only screen and (min-width: 1600px) {
  header {
    padding-top: 70px;
    width: 290px;
    float: left;
    height: 100vh;
    padding-bottom: 0; }
    header .dd-b-head {
      display: block;
      width: 100%;
      margin-bottom: 35px; }
      header .dd-b-head .dd-b-container .dd-logo {
        height: 145px;
        width: 145px;
        margin: 0 auto; }
    header .dd-b-body {
      width: 100%; }
      header .dd-b-body .dd-b-container .dd-b-menu li {
        text-align: center;
        margin-bottom: 15px; }
        header .dd-b-body .dd-b-container .dd-b-menu li a {
          padding-bottom: 5px; }
    header .dd-b-foot {
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 70px;
      left: 0;
      padding-left: 70px;
      padding-right: 70px; }
      header .dd-b-foot .dd-b-container .dd-register-btn {
        margin-bottom: 20px; }
      header .dd-b-foot .dd-b-container .dd-share-btn {
        margin-bottom: 10px;
        color: white;
        text-transform: uppercase;
        font-size: 11px;
        display: block; }
      header .dd-b-foot .dd-b-container .dd-b-sns {
        font-size: 0;
        line-height: 0;
        padding-top: 10px;
        border-top: 1px solid white; }
        header .dd-b-foot .dd-b-container .dd-b-sns p {
          font-size: 13px;
          line-height: 1em;
          color: white;
          text-transform: uppercase; }
        header .dd-b-foot .dd-b-container .dd-b-sns .dd-sns {
          display: inline-block;
          margin-bottom: 45px; }
          header .dd-b-foot .dd-b-container .dd-b-sns .dd-sns li {
            display: inline-block;
            margin-right: 10px; }
            header .dd-b-foot .dd-b-container .dd-b-sns .dd-sns li:last-child {
              margin-right: 0; }
            header .dd-b-foot .dd-b-container .dd-b-sns .dd-sns li a {
              display: block;
              padding: 7px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              border: 1px solid white; }
              header .dd-b-foot .dd-b-container .dd-b-sns .dd-sns li a img {
                height: 18px;
                width: auto; }
        header .dd-b-foot .dd-b-container .dd-b-sns .dd-lang {
          margin-bottom: 7px; }
          header .dd-b-foot .dd-b-container .dd-b-sns .dd-lang ul {
            padding-bottom: 10px;
            border-bottom: 2px solid #c1c4ce;
            font-size: 0; }
            header .dd-b-foot .dd-b-container .dd-b-sns .dd-lang ul li {
              display: inline-block;
              margin-right: 5px; }
              header .dd-b-foot .dd-b-container .dd-b-sns .dd-lang ul li:last-child {
                margin-right: 0; }
              header .dd-b-foot .dd-b-container .dd-b-sns .dd-lang ul li a {
                display: block; }
                header .dd-b-foot .dd-b-container .dd-b-sns .dd-lang ul li a img {
                  height: 17px;
                  width: auto; }
        header .dd-b-foot .dd-b-container .dd-b-sns .dd-foot p {
          font-size: 8px;
          text-transform: uppercase; }
        header .dd-b-foot .dd-b-container .dd-b-sns .dd-foot img {
          margin: 0 auto;
          height: 20px;
          width: auto; }

  .dd-s-section {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 70px; }

  .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item {
    height: calc(33vh - 57px); }
    .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-b-content .dd-b-content-inner h2 {
      font-size: 24px; }

  .dd-b-note {
    left: 50px; }
    .dd-b-note .dd-b-body ul li {
      font-size: 12px; } }
@media only screen and (min-width: 1850px) {
  header .dd-b-body .dd-b-container .dd-body {
    padding-top: 6vh;
    position: relative; }
    header .dd-b-body .dd-b-container .dd-body .dd-b-logo {
      margin-bottom: 6vh; }
    header .dd-b-body .dd-b-container .dd-body .dd-b-menu {
      margin-bottom: 6vh; }
      header .dd-b-body .dd-b-container .dd-body .dd-b-menu ul li a {
        font-size: 28px; }
    header .dd-b-body .dd-b-container .dd-body .dd-b-register {
      margin-bottom: 8vh; }

  .dd-s-lifestyle .dd-b-container .dd-row-fluid .span-4.dd-b-item.dd-b-content .dd-b-content-inner h2 {
    font-size: 31px; } }
