<footer class="desktop-hide">
    <div class="dd-b-container">
        <div class="dd-b-body">
            <div class="dd-lang">
                <ul>
                    <li>
                        <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'"><img src="{{'assets/images/en.png'| theme}}" alt="lang"></a>
                    </li>
                    <li>
                        <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'vi'"><img src="{{'assets/images/vi.png'| theme}}" alt="lang"></a>
                    </li>
                </ul>
            </div>
            <div class="dd-foot">
                <div class="dd-col">
                    <p>{{'Copyright 2018'|_}}</p>
                    <img src="{{'assets/images/footer-img.png'| theme}}" alt="footer image">
                </div>
                <div class="dd-col">
                    <div class="dd-b-text">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ 'home'| page }}">{{'Share'|_}}</a>
                        <p>{{'Follow us'|_}}</p>
                    </div>
                    <ul class="dd-sns">
                        {% for social in generaloption.social %}
                        {% set iconUrl = 'assets/images/' ~ social.social_name ~ '-icon.svg' %}
                        <li>
                            <a target="_blank" href="{{social.social_link}}">
                                <img src="{{ iconUrl |theme}}" alt="sns">
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>