==
<header>
    <div class="dd-b-head">
        <div class="dd-b-container">
            <a href="{{'' | app}}" class="dd-logo">
                <img src="{{generaloption.logo_desktop.path}}" alt="logo metropole">
            </a>
        </div>
    </div>
    <div class="dd-b-body">
        <div class="dd-b-container">
            <ul class="dd-b-menu">
                <li class="dd-ourstory">
                    <a href="{{''|app}}">{{'OUR STORY'|_}}</a>
                </li>
                <li class="dd-ourlifestyle">
                    <a href="{{'our-lifestyle'| page}}">{{'OUR LIFESTYLE'|_}}</a>
                </li>
                <li class="dd-ourview">
                    <a href="{{'our-view'|page}}">{{'OUR VIEW'|_}}</a>
                </li>
                <li class="dd-ourlocation">
                    <a href="{{'our-location'|page}}">{{'OUR LOCATION'|_}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="dd-b-foot mobile-hide tablet-hide">
        <div class="dd-b-container">
            <a href="#" class="js-register dd-register-btn">{{ 'Register now' |_}}</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ 'home'| page }}" class="dd-share-btn">{{'Share'|_}}</a>
            <div class="dd-b-sns">
                <p>{{'Follow Us'|_}}</p>
                <ul class="dd-sns">
                    {% for social in generaloption.social %}
                    {% set iconUrl = 'assets/images/' ~ social.social_name ~ '-icon.svg' %}
                    <li>
                        <a target="_blank" href="{{social.social_link}}">
                            <img src="{{ iconUrl |theme}}" alt="sns">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="dd-lang">
                    <ul>
                        <li>
                            <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'"><img src="{{'assets/images/en.png'| theme}}" alt="lang"></a>
                        </li>
                        <li>
                            <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'vi'"><img src="{{'assets/images/vi.png'| theme}}" alt="lang"></a>
                        </li>
                    </ul>
                </div>
                <div class="dd-foot">
                    <p>{{'Copyright 2018'|_}}</p>
                    <img src="{{'assets/images/footer-img.png'| theme}}" alt="footer image">

                </div>
            </div>
        </div>
    </div>
</header>

<div class="dd-s-section dd-s-register-info">
    <div class="dd-s-register-info-inner">
        <div class="dd-b-container">

            <div class="dd-b-head">
                <h2>{{'Register info'|_}}</h2>
                <p>{{'Please fill out the form below and we will contact
                    you shortly.'|_}}</p>
            </div>
            <div class="dd-b-body">
                <h3 class="dd-confirm">{{'Thank you for your registration'|_}}</h3>
                <a href="#" class="dd-close-form js-close-form"></a>
                <form id="dd-register-form" role="form"
                      data-request="{{ contactcp }}::onRegister"
                       data-request-success="contactResponse(data)">
                    <div class="dd-b-form-group">
                        <input type="text" name="name" id="yourName" placeholder="{{'Your name * '|_}}">
                    </div>
                    <div class="dd-b-form-group col-6">
                        <input type="email" name="email" id="yourEmail" placeholder="{{'Your email* '|_}}">
                    </div>
                    <div class="dd-b-form-group col-6 col-6-last">
                        <input type="text" name="phone" id="yourPhone" placeholder="{{'Your phone number* '|_}}">
                    </div>
                    <div class="dd-b-form-group">
                        <textarea name="message" cols="30" rows="20" placeholder="{{'Your message '|_}}"></textarea>
                    </div>
                    <button type="submit">{{'Sent'|_}}</button>
                </form>
            </div>
        </div>
    </div>
</div>