==
<section class="dd-s-section dd-s-location">
    <div class="dd-b-container">
        <div class="dd-b-location">
            <div class="dd-scroll-area">
                <div class="dd-map-hotpot dd-location-map" data-px-ratio="1" data-bg="{{content.map_img.path}}">
                    <img src="{{content.map_img.path}}" alt="Location" class="js-current-bg dd-fullheight-banner">
                    <div class="dd-b-hotspot">
                        <div class="dd-b-hotspot-inner">
                            {% for item in content.location_point %}
                            <span class="dd-hotspot is-{{item.icon}}" data-place="{{item.name |_}}" data-xy="{{item.posx}} {{item.posy}}"></span>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="dd-b-note">
            <div class="dd-b-body">
                <ul>
                    {% for item in content.location_note %}
                    <li>
                        <span class="dd-stt"><i>{{loop.index}}</i></span>
                        <span class="dd-note is-{{item.icon}}">{{item.name}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="dd-btn-center desktop-hide">
            <a href="#" class="js-register dd-register-btn desktop-hide">{{'Register Now'|_}}</a>
        </div>
    </div>

</section>