==
<section class="dd-s-section dd-s-lifestyle">
    <div class="dd-b-container">
        <div class="dd-row-fluid dd-b-slider-fade1">
            {% set imgCount = 0 %}
            {% for i in 1..9 %}
                {% if i == 6 %}
                    <div class="dd-b-item span-4 dd-b-content">
                        <div class="dd-b-content-inner">
                            <h2> {{content.ourLifeStyle_title}}</h2>
                            <div class="dd-content">
                                {{ content.ourLifeStyle_content |raw}}
                                <div class="dd-b-close">
                                    <a href="#" class="js-close dd-close"><span></span> </a>
                                </div>
                            </div>
                            <a href="#" class="js-more dd-readmore">{{'Read more'|_}}</a>
                        </div>
                    </div>
                {% else %}
                    <div class="dd-b-item span-4">
                        <img src="{{ content.ourLifeStyle_img[imgCount].path}}" alt="">
                    </div>
                {% set imgCount = imgCount + 1 %}
            {% endif %}
            {% endfor %}
        </div>
        <div class="dd-btn-center desktop-hide">
            <a href="#" class="js-register dd-register-btn desktop-hide">{{'Register Now'|_}}</a>
        </div>
    </div>
</section>