<script src="https://www.youtube.com/iframe_api"></script>

<section class="dd-s-section dd-s-ourstory">
    <div class="dd-b-container">
        <div class="dd-b-video">
            <div id="video-iframe"></div>
            <input type="hidden" id="dd-youtubeId" value="{{content.ourStory}}">
        </div>

        <a href="#" class="js-register dd-register-btn desktop-hide">{{'Register Now'|_}}</a>

    </div>
</section>
