==
<section class="dd-s-section dd-s-ourview">
    <div class="dd-b-container">
        <div class="dd-b-body dd-b-slider-fade">
            {% for item in content.ourView %}
            <div class="dd-slide">
                <img src="{{item.path}}" alt="">
            </div>
            {% endfor %}
        </div>
        <div class="dd-btn-center desktop-hide">
            <a href="#" class="js-register dd-register-btn desktop-hide">{{'Register Now'|_}}</a>
        </div>

    </div>
</section>