description = "default layout"
forceUrl = 0
[localePicker]
[generaloptioncp]
[allpagecp]
[contactcp]
injectBootstrapAssets = 0
injectMainScript = 0
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta name="author" content="Lancaster">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:url"                content="" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Metropole" />
    <meta property="og:description"        content="Located in the core area of Thu Thiem peninsular, where the walking streets will lead you to all the new city landmarks within few easy steps, The Metropole possesses 180 sweeping view toward Saigon river and District 1 center. Colorful and bustling shopping streets, exciting cultural and artistic events, green riverside spaces and modern transportation systems, here are all of what you desire for a future metropolis. That's how the name comes – The Metropole Thu Thiem, New Metropolis of Saigon." />
    <meta property="og:image"              content="{{'assets/images/logo.svg'| theme}}" />

    {% content "meta" %}

    <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}">
    <link rel="icon" href="{{ 'assets/images/favicon.png'|theme }}">
    
    <title>{{ this.page.title }}</title>

    <link href="{{ [
                '@framework.extras',
                'assets/css/slick.min.css',
                'assets/css/slick-theme.min.css',
                'assets/css/base.css',
    ]|theme }}" rel="stylesheet" media="screen" />

    <script src="{{'assets/js/jquery.min.js'| theme}}"></script>
    {% styles %}
</head>

<body class="{{ this.page.bodyClass }}">

<div id="flash-message"></div>

{% partial "header" %}

    {% page %}

{% partial "footer" %}

{% content "tracking" %}

<script src="{{ [
            '@framework',
            '@framework.extras',
            'assets/js/jquery.min.js',
            'assets/js/layout-controller.js',
            'assets/js/css-browser-selector.js',
            'assets/js/jquery-ui.min.js',
            'assets/js/happy.js',
            'assets/js/slick.min.js',
            'assets/js/main.js',
            ]|theme }}"></script>

{% scripts %}

</body>
</html>